@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;500&display=swap');

:root {
    /*Color palette: https://coolors.co/011f5b-003262-0f4d92-2774ae-b9d9eb-faebd7-f58025-a51c30-8c1515-800000*/
    --royalBlueDark: #011F5B;
    --prussianBlue: #003262;
    --yaleBlue: #0f4d92;
    --antiqueWhite: #faebd7;
    --antiqueWhiteAlpha: #faebd7B0;
    --crimsonUA: #A51C30;
    --princetonOrange: #F58025;
    font-size: large;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6em;
    color: var(--royalBlueDark);
    margin: 0;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgb(250,235,215);
    background: linear-gradient(0deg, rgba(250,235,215,0.3) 70%, rgba(245,128,37,0.4) 100%), url(https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=600&w=1008);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-weight:500;
    line-height: 1.2;
}

p {
    font-size: 1.125rem;
}

h1,
p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

.hint {
    color:var(--yaleBlue);
}