/* Importing the font */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Global element styling */
:root {
    --textColor: #000000;
    --backgroundColor: #F0FFFF;
    --headerBackgroundColor:#FAEBD7;
    --headerBorderColor: #D3A15F;
    --focusBorder: #B1740F;
    --focusShadow: #D3A15F;
    --button: #CCFF33;
    --secondaryGreen: #adff2f;
    --buttonHover: #F5f500;
    --shadowColor: #CFCFCF;
    --footerBackgroundColor: #7C8A8A;
    --footerColor: #FAEBD7;
    --footerHover: #697777;
    --border: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    background-color: VAR(--backgroundColor);
    font-family: 'Courier Prime', 'Courier New', Courier, monospace;
}

input[type='submit'],
button {
    font-family: 'Courier Prime', 'Courier New', Courier, monospace;
}
#page-wrapper{
    position: relative;
    align-self: center;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 393px) {
    #page-wrapper {
        max-width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (min-width: 412px) {
    #page-wrapper {
        max-width: 387px;
    }
}

@media (min-width: 576px) {
    #page-wrapper {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    #page-wrapper {
        max-width: 720px;
    }
}

@media (min-width: 960px) {
    #page-wrapper {
        max-width: 900px;
    }
}


li {
    list-style: none;
}

a{
    color:var(--textColor);
    text-decoration: none;
}
@media (max-width: 393px) {
    h2{
        font-weight: 600;
        font-size: 1.15rem;
    }
}

/* Global classes styling */
.button {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    border: 3px var(--border) solid;
    background: transparent;
    cursor: pointer;
}

.grid {
    display: flex;
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--headerBackgroundColor);
    border-bottom: 1px solid var(--headerBorderColor);
    box-shadow: 0 4px 5px var(--shadowColor);
    z-index: 1;
}

@media (max-width: 700px) {
    header {
        flex-wrap: wrap;
    }
}

.logo {
    width: 60vw;
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 8px;
    box-sizing: border-box;
}

@media (max-width: 700px) {
    .logo {
        margin-top: 15px;
        width: 100%;
        position: relative;
    }
}

.logo > a > img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: right;
    text-align: center;
    margin-left: 40px;
    width: 80px;
    height: 80px;
}

@media (max-width: 700px) {
    .logo > a > img {
        margin: 0 0;
        width: 80px;
        height: 80px;
    }
}

.logo > a > h1 {
    width: 100%;
    height: 100%;
    max-width: 170px;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: center;
    font-weight: 700;
    font-size: 26pt;
}

@media (max-width: 700px) {
    .logo > a > h1 {
        font-size: 20pt;
        max-width: 155px;
        justify-content:space-between;
    }
}

nav {
    font-weight: 400;
    margin-top: 10px;
    width: 100%;
    padding: 0 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

@media (max-width: 700px) {
    nav {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }
    nav > ul > li {
        padding-bottom: 5px;
    }
}

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 700px) {
    nav > ul {
        flex-direction: column;
    }
}

nav > ul > li {
    width: 60vw;
    max-width: 300px;
    height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#newsletter {
    padding-top: 100px;
    margin: 0 auto;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 700px) {
    #newsletter {
        padding-top: 200px;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.email > form > h3 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

#newsletter input[type='email'] {
    max-width: 275px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    padding: 5px;
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#newsletter input:focus {
    border-color: var(--focusBorder);
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--focusShadow);
}

#newsletter input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    background-color: var(--button);
}

#newsletter input[type='submit']:hover {
    background-color: var(--buttonHover);
    transition: background-color 1s;
  }

#material::before {
    content:"";
    display: block;
    height: 70px;
    margin: -70px 0 0;
}

@media (max-width: 700px){
    #material::before {
        content:"";
        display: block;
        height: 200px;
        margin: -200px 0 0;
    }
}

#material {
    margin-top: 20px;
    margin-bottom: -20px;
}

@media (max-width: 576px) {
    #material{
        margin-top: 0;
    }
}

#material .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
}

@media (max-width: 576px) {
    #material .icon{
        display: none;
    }
}

.icon > img {
    height: 65%;
}

#material .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
    padding-bottom: 1px;
}

@media (max-width: 576px) {
    #material .description {
        width: 100%;
        text-align: center;
        justify-content: space-evenly;
        padding: 0;
        height: 150px;
    }
}

#maitenance {
    margin-top: -50px;
    padding-top: 70px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 700px) {
    #maitenance {
        margin-top: -180px;
        padding-top: 200px;
    }
}

#maitenance > .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description > h2 {
    padding: 25px;
}

.description > p {
    padding-bottom: 1.125rem;
    width: 100%;
}

.description  li {
    width: 100%;
    padding-left: 5px;
    list-style-type: '✅';
    padding-bottom: 1.125rem;
}

#maitenance > iframe {
    max-width: 560px;
    width: 100%;
}

#order {
    margin-top: -50px;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (max-width: 700px) {
    #order {
        margin-top: -180px;
        padding-top: 200px;
    }
}

#productsDisplay {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    width: 100%;
}

.product {
    border: 2px solid var(--border);
    border-radius: 0.5rem;
    padding: 0.25rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.product ul {
    padding-top: 10px;
    padding-bottom: 10px
}

.productHeading {
    background-color: var(--secondaryGreen);
}

.productHeading,
.productPrice {
    border: 2px solid var(--border);
    border-radius: 0.5rem;
}

.productPrice{
    background-color: var(--headerBackgroundColor);
}

.productDescription {
    display: flex;
    flex-direction: column;
}

.product .productDescription{
    flex: 1 1 auto;
}

#productsDisplay button {
    background-color: var(--button);
    border-radius: 0.5rem;
    width: 100%;
}

#productsDisplay button:hover {
    background-color: var(--buttonHover);
    transition: background-color 1s;
}

footer {
    background-color: var(--footerBackgroundColor);
    color: var(--footerColor);
    margin-top: 15px;
    margin-bottom: 5rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 0.5rem;
    padding: 16px;
    font-size: 1em;
    font-weight: 600;
}

footer ul {
    display: flex;
    flex-direction: row;
}

footer a {
    color: var(--footerColor);
    padding: 20px 20px;
    height: 60px;
    font-size: 1em;
    font-weight: 600;
}

.dropButton {
    background-color: var(--footerBackgroundColor);
    color: var(--footerColor);
    padding: 20px 2px 20px 0;
    font-size: 16px;
    border: none;
    font-weight: 600;
}

.dropdown {
    position: relative;
    display: list-item;
    list-style: none;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: var(--footerBackgroundColor);
    width: auto;
    min-width:500px;
    max-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownContent a:hover {
    background-color: var(--footerHover);
}

.dropdown:hover .dropdownContent {
    display: flex;
    flex-direction: column;
    right: 0;
}


@media (max-width: 412px) {
    .dropdownContent {
        min-width: 300px
    }
}

@media (min-width: 576px) {
    .dropdownContent {
        min-width: 490px
    }
    .dropdown:hover .dropdownContent{
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) {
    .dropdownContent {
        min-width: 480px;
    }
    .dropdown:hover .dropdownContent{
        flex-wrap: wrap;
    }
}

.dropdown:hover .dropButton {
    background-color: var(--footerHover);
}